<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Management Interface</H1>

    <h2>Active auctions</h2>
    {% if active_auctions %}
        {% for auction in active_auctions %}
            {% if auction.state == 'ACTIVE'%}
                <h3>Title : {{ auction.title }}</h3>
                <p>Description : {{ auction.description }}</p>
                <a href="{% url 'yaasapp:ban_auction' auction.id %}">Ban this auction</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p> There is no active auctions.</p>
    {% endif %}

    <br>
    <h2>Banned auctions</h2>
    {% if banned_auctions %}
        {% for auction in banned_auctions %}
            {% if auction.state == 'BANNED'%}
                <h3>Title : {{ auction.title }}</h3>
                <p>Description : {{ auction.description }}</p>
                <a href="{% url 'yaasapp:active_auction' auction.id %}">Active this auction</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p> There is no banned auctions.</p>
    {% endif %}

</body>
</html>