{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <H1>Management Interface</H1>

    <h2 style="color: green">Active auctions</h2>
    {% if active_auctions %}
        {% for auction in active_auctions %}
            {% if auction.state == 'ACTIVE'%}
                <hr>
                <h3>Title : {{ auction.title }}</h3>
                <p>Description : {{ auction.description }}</p>
                <a href="{% url 'yaasapp:ban_auction' auction.id %}">Ban this auction</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p> There is no active auctions.</p>
    {% endif %}

    <br>
    <h2 style="color: red">Banned auctions</h2>
    {% if banned_auctions %}
        {% for auction in banned_auctions %}
            {% if auction.state == 'BANNED'%}
                <h3>Title : {{ auction.title }}</h3>
                <p>Description : {{ auction.description }}</p>
                <a href="{% url 'yaasapp:active_auction' auction.id %}">Active this auction</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p> There is no banned auctions.</p>
    {% endif %}
{% endblock %}