{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>Search Auction by title</h2>
<a href="{% url 'home' %}">Home</a>
<br>
<br>

<form action="" method="get">
    <input type="text" name="title" type="text"/>
    <button type="submit" >Search</button>
</form>

{% if auctions %}
    <h3>Results</h3>
{% for auction in auctions %}
    <hr>
    <h3>Title : {{ auction.title }}</h3>
    <p>Description : {{ auction.description }}</p>
    <p>Current price : {{ auction.min_price }}</p>
    {% if auction.seller != user %}
        <a href="#">Bid on this auction</a>
    {% else %}
        <p style="color: red">You cannot bid on this auction because you posted it !</p>
        <a href="{% url 'yaasapp:update_auction' auction.id%}">Update auction</a>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}