{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Active auctions" %}</h2>
    <br>
    {% if active_auctions %}
        {% for auction in active_auctions %}
            {% if auction.state == 'ACTIVE'%}
                <hr>
                <h3>Title : {{ auction.title }}</h3>
                <p>Description : {{ auction.description }}</p>
                <p>Current price (EUR): {{ auction.min_price }}</p>
                <p>Current price ({{ auction.currency }}) : {{ auction.currency_value |floatformat:2}}</p>
                <form action="{% url 'yaasapp:change_currency' auction.id %}">
                {% csrf_token %}
                <table>
                <thead>
                <th>
                  <select name="currency">
                      {% if auction.currency == 'USD' %}
                        <option value="GBP">GBP</option>
                        <option value="SEK">SEK</option>
                      {% elif auction.currency == 'GBP' %}
                          <option value="USD">USD</option>
                          <option value="SEK">SEK</option>
                      {% else %}
                          <option value="USD">USD</option>
                          <option value="GBP">GBP</option>
                      {% endif %}
                  </select>
                </th>
                <th>
                  <input type="submit" value="Change currency">
                </th>
                </thead>
                </table>
                </form>
                {% if auction.seller != user %}
                    <a href="{% url 'yaasapp:bid' auction.id %}">Bid on this auction</a>
                {% else %}
                    <p style="color: red">You cannot bid on this auction because you posted it !</p>
                    <a href="{% url 'yaasapp:update_auction' auction.id%}">Update auction</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
    <p> There is no active auctions.</p>
    {% endif %}
{% endblock %}