{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>Search Auction by title</h2>
<a href="{% url 'home' %}">Home</a>
<br>
<br>

<form action="{% url 'yaasapp:search_auction_by_title' %}" method="get">
    <input type="text" name="title" type="text"/>
    <button type="submit" >Search</button>
</form>

{% if auctions %}
    <h3>Results</h3>
{% for auction in auctions %}
    <hr>
    <h3>Title : {{ auction.title }}</h3>
    <p>Description : {{ auction.description }}</p>
    <p>Current price (EUR): {{ auction.min_price }}</p>
    <p>Current price ({{ auction.currency }}) : {{ auction.currency_value }}</p>
    <form action="{% url 'yaasapp:change_currency' auction.id %}">
    {% csrf_token %}
    <table>
    <thead>
    <th>
      <input type="hidden" name="is_search_by_title" value="True">
      <select name="currency">
          {% if auction.currency == 'USD' %}
            <option value="GBP">GBP</option>
            <option value="SEK">SEK</option>
          {% elif auction.currency == 'GBP' %}
              <option value="USD">USD</option>
              <option value="SEK">SEK</option>
          {% else %}
              <option value="USD">USD</option>
              <option value="GBP">GBP</option>
          {% endif %}
      </select>
    </th>
    <th>
      <input type="submit" value="Change currency">
    </th>
    </thead>
    </table>
    </form>
    {% if auction.seller != user %}
        <a href="#">Bid on this auction</a>
    {% else %}
        <p style="color: red">You cannot bid on this auction because you posted it !</p>
        <a href="{% url 'yaasapp:update_auction' auction.id%}">Update auction</a>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}