{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <h2>Update auction</h2>
    {{auction_form.non_field_errors}}

    <form method="post">
        {% csrf_token %}
        {% for field in auction_form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}

          </p>
        {% endfor %}
    <button type="submit">Update</button>
    </form>
{% endblock %}
