<!-- templates/home.html -->
{% extends './base.html' %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.first_name }} !
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <br>
    {% if user.is_authenticated %}
    <br>
    <a href="{% url 'yaasapp:create_auction' %}">{% trans "Create auction" %}</a>
    {% endif %}
    <br>
    <a href="{% url 'yaasapp:active_auction_list' %}">{% trans "All active auctions" %}</a>
    <br>
    <a href="{% url 'yaasapp:search_auction_by_title' %}">{% trans "Search auctions by title" %}</a>
{% endblock %}