<!-- templates/home.html -->
{% extends './base.html' %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
        {% trans "Welcome" %} {{ user.first_name }} !
        <p><a href="{% url 'logout' %}">{% trans "logout" %}</a></p>
    {% else %}
      <p>{% trans "You are not logged in" %}</p>
      <a href="{% url 'login' %}">{% trans "login" %}</a>
    {% endif %}

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <br>
    {% if user.is_superuser %}
        <br>
        <a href="{% url 'yaasapp:manage_auction' %}">{% trans "Manage auctions" %}</a>
    {% endif %}
    {% if user.is_authenticated %}
    <br>
    <a href="{% url 'yaasapp:change_password' %}">{% trans "Change password" %}</a>
    {% endif %}
    {% if user.is_authenticated %}
    <br>
    <a href="{% url 'yaasapp:create_auction' %}">{% trans "Create auction" %}</a>
    {% endif %}
    <br>
    <a href="{% url 'yaasapp:active_auction_list' %}">{% trans "All active auctions" %}</a>
    <br>
    <a href="{% url 'yaasapp:search_auction_by_title' %}">{% trans "Search auctions by title" %}</a>
{% endblock %}